@keyframes moveLineAbout {
  0% {
    left: 0%;
  }
  50% {
    left: 55%;
  }
  51% {
    left: 55%;
  }
  100% {
    left: 0%;
  }
}

@keyframes moveLineSkills {
  0% {
    left: 25%;
  }
  50% {
    left: 70%;
  }
  51% {
    left: 70%;
  }
  100% {
    left: 25%;
  }
}
