@keyframes moveLineAbout {
  0% {
    left: 0%;
  }
  50% {
    left: 55%;
  }
  51% {
    left: 55%;
  }
  100% {
    left: 0%;
  }
}

@keyframes moveLineSkills {
  0% {
    left: 25%;
  }
  50% {
    left: 70%;
  }
  51% {
    left: 70%;
  }
  100% {
    left: 25%;
  }
}

@keyframes moveLinePortfolio {
  0% {
    left: 41%;
  }
  50% {
    left: 54%;
  }
  51% {
    left: 54%;
  }
  100% {
    left: 41%;
  }
}

@keyframes moveLineContacts {
  0% {
    left: 0%;
  }
  50% {
    left: 39%;
  }
  51% {
    left: 39%;
  }
  100% {
    left: 0%;
  }
}
