.about {
  padding-top: 120px;
  &__wrapper {
    display: grid;
    grid-template-columns: 400px 670px;
    grid-template-rows: minmax(245px, auto) minmax(240px, auto);
    grid-auto-rows: minmax(245px, auto);
    column-gap: 70px;
    row-gap: 40px;
  }
  &__text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #c0c0c0;
  }
  &__photo {
    grid-row: 1/3;
    img {
      width: 100%;
      // height: 100%;
      // filter: brightness(0.8);
      border-radius: 1%;
    }
  }
  &__descr {
    padding-top: 6px;
    .divider {
      margin-top: 0;
    }
  }
  &__title {
    position: relative;
    padding: 1px 0 0 12px;
    @include before_cirle;
  }
  &__subtitle {
    color: #f2f1f3;
  }
  &__skills {
    display: grid;
    grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 280px);
    grid-auto-rows: 1fr;
    column-gap: 65px;
    row-gap: 20px;
    &-item {
      border-radius: 15px;
      padding: 15px;
      display: grid;
      grid-template-columns: 40px 200px;
      column-gap: 10px;
      box-shadow: 0 0 15px #fff;
    }
    &-text {
      margin-top: 6px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      color: #c0c0c0;
    }
  }
}
