.contacts {
  padding: 120px 0 90px 0;
  &__wrapper {
    padding: 0 35px 0 52px;
    display: grid;
    grid-template-columns: 400px 585px;
    justify-content: space-between;
  }
  &__photo {
    img {
      margin-top: 139px;
      width: 100%;
      // height: 100%;
      // filter: brightness(0.8);
      // border-radius: 1%;
    }
  }
  &__descr {
    padding-top: 6px;
  }
  &__title {
    position: relative;
    padding: 1px 0 0 12px;
    @include before_cirle;
  }
  &__text {
    margin-top: 20px;
  }

  &__social {
    margin-top: 20px;
    a {
      text-decoration: none;
    }
    img {
      &:hover {
        transform: scale(1.15);
        transition: all 0.4s ease-in-out;
      }
    }
  }

  &__link {
    margin-right: 25px;
    img {
      max-width: 30px;
      max-height: 30px;
    }
  }
  &__form {
    color: #fff;
    margin-top: 30px;
    display: grid;
    grid-template: 45px 190px 45px / repeat(2, 280px);
    justify-content: space-between;
    row-gap: 27px;
    label {
      margin-bottom: 0;
      top: -9px;
      left: 12px;
      display: block;
      position: absolute;
      height: 18px;
      color: white;
      padding: 0 8px;
      background-color: #181626;
      font-size: 12px;
    }
  }
  &__input {
    position: relative;
    input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 12px;
      color: #fff;
      border: 1px solid white;
      background-color: #181626;
      font-weight: 500;
    }
  }
  &__textarea {
    position: relative;
    grid-column: 1 / 3;
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      padding: 10px 20px;
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      border: 1px solid white;
      background-color: #181626;
    }
  }
  &__btn {
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
}
