.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  color: #fff;
  &__fz12 {
    font-size: 12px;
    line-height: 18px;
  }
  &__fz14 {
    font-size: 14px;
    line-height: 21px;
  }
  &__fz16 {
    font-size: 16px;
    line-height: 24px;
  }
  &__fz20 {
    font-size: 20px;
    line-height: 30;
  }
  &__fz36 {
    font-size: 36px;
  }
  &__fz48 {
    font-size: 48px;
  }
  &__section-title {
    text-align: center;
    position: relative;
    @include before_cirle;
    &::before {
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__section-subtitle {
    text-align: center;
  }
}

// color: #c0c0c0;
